body {
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 2em 0 4em 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(76, 1, 173),rgba(89, 1, 190, 0.438), rgba(21, 0, 141, 0));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    letter-spacing: 4px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.582);
}
.header img{
    max-width: 6em;
    min-width: 1em; 
    padding-right: 1em;
    opacity: 0.5;
}

.header img:hover {
    transform: rotate(-360deg);
    border: none;
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 1.4s ease-in-out;  
}

.player-info {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.637);
    font-weight: bold;
}

.gameboard-wrapper {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    width: 450px;
    height: 450px;
    padding-top: 5%;
}

.field {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(160, 44, 255, 0.973);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 9rem;
    cursor: pointer;
    user-select: none;
    color: white;
}

.restart-btn-wrapper {
    justify-content: center;
    text-align: center;
    padding: 2.4em;
}

.restart-btn-wrapper button{
  margin-top: 2rem;
  padding: 1.6rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background: linear-gradient(rgba(89, 1, 190, 0.582) ,rgb(76, 1, 173));
  border: none;
  border-radius: 1rem;
  font-size: 1.6em;
  font-weight: bold;
  box-shadow: 0.5rem 1rem 2rem rgba(134, 134, 134, 0.575);
}

.restart-btn-wrapper button:hover {
  background: linear-gradient(rgba(130, 21, 255, 0.521),rgb(57, 0, 131));
}

@media (max-width: 760px) {
    html {
      font-size: 65%;
    }
  
    .gameboard-wrapper {
      width: 304px;
      height: 304px;
    }
  
    .field {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 440px) {
    html {
      font-size: 55%;
    }
  
    .gameboard-wrapper {
      width: 214px;
      height: 214px;
    }
  
    .field {
      width: 70px;
      height: 70px;
    }
  }